@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-image {
    max-width: 60px;
}

/*Fix for Firefox browser*/
.resume-entry-company {
    height:55px;
}
/**/

.context {
    width: 100%;
    position: absolute;
}

.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
}

/*Circle square animation css*/
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 35s linear infinite;
    bottom: -150px;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-3000px) rotate(1080deg);
        opacity: 1;
        border-radius: 50%;
    }

}
/*circle square animation css end*/